@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "OxaniumMedium";
    src: url("../assets/font/Oxanium-Medium.ttf");
}
@font-face {
    font-family: "OxaniumRegular";
    src: url("../assets/font/Oxanium-Regular.ttf");
}
@layer components{
    .fullCenter{
        @apply flex justify-center items-center;
    }
    .centerTransversal{
        @apply flex items-center
    }
    .text-title{
        @apply text-lg sm:text-3xl
    }
    .text-subtitle{
        @apply text-base sm:text-lg font-OxaReg
    }

    .btn{
        @apply relative w-[400px] centerTransversal pl-6 h-16;
    }
}
@layer utilities{
    .rain{
        background-image: url(https://i.postimg.cc/XvR6CjbY/rain.png);
    }

    /* botones */
    .btn1{
        clip-path: polygon(0 0,  calc(100% - 75px) 0, 100% 100%, 25px 100%, 0 calc(100% - 25px))
    }
    .btn2{
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%);
    }
    .btn3{
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 80px calc(100% - 10px), 70px 100%, 10px 100%, 0 calc(100% - 10px) ) 
    }
}